.titleWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.title {
    text-decoration: underline;
}

.at {
    font-weight: bold;
    color: aquamarine;
    text-shadow: 2px 2px 0px purple;
    
}

.title, 
.educator {
    margin-top: 0;
    margin-bottom: 0;
}

.educator {
    font-weight: bold;
}

.eduBullet {
    list-style-type: "📚 ";
}

.eduList {
    padding-left: var(--stdPadding);
    border-bottom: 3px solid #ffffff14;
}