.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    text-wrap: wrap;
}

.name { 
    margin: 0px;
    font-size: 1.5rem;
    padding-left: var(--stdPadding);

    @media (max-width: 450px) {
        padding-left: 0;

    }
}