.titleWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.title {
    text-decoration: underline;
}

.at {
    font-weight: bold;
    color: var(--accent-color-primary);
    text-shadow: 2px 2px 0px var(--accent-color-secondary);

}

.title,
.organisation {
    margin-top: 0;
    margin-bottom: 0;
}

.expBullet {
    margin: 35px 40px;
    border-bottom: 3px solid var(--color-primary);
}

.JobBullet {
    list-style-type: "📌 ";
}

.EducationBullet {
    list-style-type: "📚 ";
}

.expList {
    padding-left: var(--stdPadding);
    align-self: stretch;
}

.location {}