.titleWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.title {
    text-decoration: underline;
}

.at {
    font-weight: bold;
    color: var(--accent-color-primary);
    text-shadow: 2px 2px 0px var(--accent-color-secondary);

}

.title,
.organisation {
    margin-top: 0;
    margin-bottom: 0;
}

.expBullet {
    border-bottom: 1.5px solid var(--color-primary);
    margin: 20px 15px;
    
    @media (max-width: 480px) {
        margin: 20px 0px;
    }
}

.JobBullet {
    list-style-type: "📌 ";
}

.EducationBullet {
    list-style-type: "📚 ";
}

.expList {
    padding-right: 40px;
    align-self: stretch;
    padding: 0 20px;
}

.location {}