.bannerContent {

    text-align: justify;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 0 1 80%;
}

.buttonWrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex: 0 1 80%;
}

.button {
    background-color: var(--accent-color-primary);
    color: black;
}

.imageWrapper {
    width: 170px;
    align-self: center;
}

.image {
    width: 100%;     /* Image will fill the wrapper's width */
    height: 100%;    /* Image will fill the wrapper's height */
    object-fit: cover;  /* Maintain aspect ratio and cover the container */
}